.contenido {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Titulo del colegio y de fechas */
.titulo {
  margin-top: 5rem;
  font-size: clamp(1.3rem, 5vw, 3rem);
  /* Por si un navegador no soporta el degradado */
  color: #4b3621;
  background: linear-gradient(to bottom, #4b3621, #a68b6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lema{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: clamp(1rem, 4vw, 2.5rem);
}

.tituloFecha {
  margin-top: 12%;
  margin-bottom: 25px;
  text-align: center;
  font-size: clamp(1rem, 4vw, 2.5rem);
  color: #4b3621;
  background: linear-gradient(to bottom, #4b3621, #a68b6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Descripcion de fechas */
.containerDiasEspeciales {
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  color: #1c1c1c;
  text-align: start;
  padding: 10px 30px;
  margin-bottom: 8rem;
  margin-top: 3rem;
  background-color: #ede3d2;
  border-radius: 15px;
}

.containerDiasEspeciales ul {
  list-style: inside;
}

.textoMes {
  text-align: center;
  line-height: 1.5;
  margin: 15px 0px;
  word-break: break-word;
  overflow-wrap: break-word;
  color: #4b3621;
  text-shadow: 1px 1px 2px #af9576, 0 0 1em #a68b6c, 0 0 0.3em #a68b6c;
}

/* Secciones */
.seccion {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.SinImagen {
  width: 100vw;
  height: 400px;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

/* Titulo sin imagen */
.tituloSinImagen {
  margin-top: 60px;
  font-size: clamp(1.3rem, 5vw, 3rem);
  /* Por si un navegador no soporta el degradado */
  color: #4b3621;
  background: linear-gradient(to bottom, #4b3621, #a68b6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Titulos con imagen */
.tituloSeccion {
  margin-top: 60px;
  font-size: clamp(1.3rem, 5vw, 3rem);
  /* Por si un navegador no soporta el degradado */
  color: #f1f1f1;
  text-shadow: 0 1px 4px rgba(255, 255, 255, 0.3),
    0 2px 6px rgba(255, 255, 255, 0.2);
  background: linear-gradient(to bottom, #0d3b66, #f4d35e);
  /* background: linear-gradient(to bottom, #00eaff, #0099ff); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Negro a las que no tienen imagen */
.descripcion {
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  line-height: 1.5;
  width: 70vw;
  color: #1c1c1c;
  margin: 30px 0px;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Blanco a las que tienen imagen */
.seccion p {
  color: whitesmoke;
}

/* Texto general */
.texto_secciones {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #1c1c1c;
  /* Animacion */
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
}

/* Fondo con imagen */
.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.4); /* oscurece la imagen para que el texto resalte */
  /* Animacion */
  transform: scale(1);
  transition: transform 5s ease;
}

/* Animacion de seccion */
.seccion:hover .fondo {
  transform: scale(1.05); /*Hace zoom un poco al pasar encima el mouse*/
}

@media (max-width: 767px) {
  .containerDiasEspeciales {
    width: 95vw;
    margin-bottom: 6rem;
  }
}

@media (max-width: 500px) {
  .seccion {
    margin-bottom: 20%;
  }
}

/*Animaciones*/
@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
